@font-face {
  font-family: Graviola;
  src: url('./assets/fonts/graviola-regular.ttf');
}

@font-face {
  font-family: Quicksand;
  src: url('./assets/fonts/Quicksand-VariableFont_wght.ttf');
}

@font-face {
  font-family: Jey;
  src: url('./assets/fonts/Jey.ttf');
}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Graviola', 'Quicksand', 'Jey' sans-serif;
}

.container{
  max-width: 1170px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}

section{
  padding: 50px 0;
}

.header {
  width: 100%;
}

.font-custom {
  font-weight: bolder;
}

.font-custom2 {
  font-weight: 900;
}